@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Playfair+Display&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ''Playfair Display'', sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh; 
    background-color: #0d499273;
    font-family: 'Monserrat', sans-serif;

}

.logo{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}

.nav-brand {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
img[src="Images/PK.png"] {
    width: 50%;
    max-width: 100%;
    height: auto;
}

img[src="Images/Projects.PNG"] {
    width: 80%;
    max-width: 100%;
    height:auto;
}

img[src="Images/img.PNG"] {
    width: 40%;
    max-height: 80%;
}


.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links a{
    color: rgb(226,226,226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links li{
    list-style: none;
}

.container {
    padding: 0 100px 0 100px;
}

.main-info-section,
.project-info,
.project-info2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body {
    background-color: #2a384b;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}


header h1,
header a,
.text p,
.about h1,
.projects h1,
.contact h1 {
    color : #7789f0;
}



.main-info-section {
    height: calc(100vh - 81.6px);
}

.text {
    margin-top: 120px;
}

.text h1 {
    color: #fff;
    font-size: 3rem;
    cursor: context-menu;
}

.text span {
    display: inline-block;
}

span:hover {
    color: #48CFAD;
    transition: all .5s;
}

span.name {
    color: #be3d3d;
}

span.m-left {
    margin-left: -10px;
}

.text p {
    letter-spacing: 3px;
    font-size: 1.5rem;
}

.text a {
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #6573f3;
    color: #6573f3;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}

.text a:hover {
    color: #fff;
}

.text a:before {
    content: '';
    background-color: #6573f3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}

.text a:hover::before {
    height: 100%;
}

.about {
    height: 100vh;
    margin-top: 100px;
}

.about h1,
.projects h1{
    font-size: 5rem;
    z-index: 0;
    opacity: 0.5;
}

.about-me-info {
    max-width: 900px;
    background-color: #1b2431;
    box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
    padding: 50px;
    position: relative;
    top: -10px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.about-me-info p {
    font-size: 1.3rem;
    color: #BEBEBE
}

.about-me-info p:nth-child(2),
.about-me-info p:last-child {
    margin-top: 30px;
}

.projects {
    height: 100vh;
}

.projects h1,
.contact h1 {

    font-size: 5rem;
    opacity: 0.5;
}

.btn {
    padding: 10px 0;
    color: red;
    cursor: pointer;
}
.project-info,
.project-info2 {
    font-size: 1.4rem;
    color: #BEBEBE;
    max-width: 900px;
    position: relative;
    left:50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
}


.html {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}


.contact {
    margin-top: 600px;
}

form input,
form textarea {
    display: block;
    width: 500px;
    padding: 20px;
    background-color: #2a384b;
    border: 3px solid #707070;
    outline: none;
    font-size: 1.2rem;
    color: rgb(85, 161, 184);
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

form input:last-child {
    width: 150px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

